.vertical-space {
    margin: 25px 0;
}

/* https://stackoverflow.com/questions/9686538/align-labels-in-form-next-to-input */

div.input-grid {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 5px;
}

div.input-grid label {
    text-align: right;
}

div.input-grid label:after {
    content: ':';
}

.delete-btn {
    color: red;
}

.loading {
    color: blue;
}

.success {
    color: green;
}

.error {
    color: red;
}
